
body {
    background: #060f3d;
}

aside {
    float: left;
    background: #040717;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}

aside img {
    width: 100px;
    float: left;
    
}

aside .logo {
    font-size: 40 px;
    font-weight: bold;
    position: relative;
    top: 30px;
}

aside h3 {
    margin-top: 50px;
    font-size: 30px;
    /* position: relative;
    right: 50px; */
    
}

aside ul {list-style: none;}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    position: relative;
    right: 30px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}

main .features {
    float : left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%; 
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 600px; margin: 20px auto;}

main {
    padding: 40px 60px;
    color: #fff;
}

.auth-container {
    margin-top: 30px;
}

.auth-card {
    background-color: #050b2a;   /* темнее, чем фон main */
    border: 1px solid #222a4d;
    color: #fff;
}

.auth-card .form-label,
.auth-card .form-text {
    color: #ccc;
}